* {
}

div {
  width: 25%;
  display: inline-block;
  font-size: 30px;
  height: auto;
  vertical-align: top;
  font-size: 30px;
}

#pink {
  background-color: pink;
}

#purple {
  background-color: purple;
}

#em {
  font-size: 2em;
}
#rem {
  font-size: 2rem;
}
